@font-face {
  font-family: 'dIcon';  /* Project id 2574608 */
  src: url('//at.alicdn.com/t/font_2574608_yahfishra4.woff2?t=1623114681579') format('woff2'),
       url('//at.alicdn.com/t/font_2574608_yahfishra4.woff?t=1623114681579') format('woff'),
       url('//at.alicdn.com/t/font_2574608_yahfishra4.ttf?t=1623114681579') format('truetype');
}

.dIcon {
  font-family: "dIcon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.d-vip:before {
  content: "\e6c3";
}

.d-refund:before {
  content: "\e6ac";
}

.d-edit:before {
  content: "\e649";
}

.d-down:before {
  content: "\e703";
}

.d-order:before {
  content: "\e66c";
}

.d-refresh:before {
  content: "\e6a4";
}

.d-footprint:before {
  content: "\e69d";
}

.d-code:before {
  content: "\e602";
}

.d-file:before {
  content: "\e739";
}

.d-more:before {
  content: "\e684";
}

.d-scan:before {
  content: "\e689";
}

.d-search:before {
  content: "\e65c";
}

.d-male:before {
  content: "\e71c";
}

.d-female:before {
  content: "\e71a";
}

.d-evaluatefill:before {
  content: "\e813";
}

.d-evaluate:before {
  content: "\e672";
}

.d-recordfill:before {
  content: "\e7a4";
}

.d-record:before {
  content: "\e7a6";
}

.d-squarecheck:before {
  content: "\e6d6";
}

.d-square:before {
  content: "\e6d5";
}

.d-squarecheckfill:before {
  content: "\e6d4";
}

.d-forwardfill:before {
  content: "\e6ea";
}

.d-forward:before {
  content: "\e6eb";
}

.d-mall:before {
  content: "\e850";
}

.d-mallfill:before {
  content: "\e852";
}

.d-voice:before {
  content: "\e6ef";
}

.d-voicefill:before {
  content: "\e6f0";
}

.d-rankfill:before {
  content: "\e721";
}

.d-rank:before {
  content: "\e722";
}

.d-myfill:before {
  content: "\e78c";
}

.d-my:before {
  content: "\e78b";
}

.d-circle:before {
  content: "\e7b1";
}

.d-circlefill:before {
  content: "\e7b0";
}

.d-deliver:before {
  content: "\e671";
}

.d-deliverfill:before {
  content: "\e81f";
}

.d-home:before {
  content: "\e6b8";
}

.d-homefill:before {
  content: "\e6bb";
}

.d-cartfill:before {
  content: "\e6b9";
}

.d-cart:before {
  content: "\e6af";
}

.d-choicenessfill:before {
  content: "\e714";
}

.d-choiceness:before {
  content: "\e715";
}

.d-arrows_right:before {
  content: "\e6a3";
}

.d-arrows_down:before {
  content: "\e886";
}

.d-arrows_left:before {
  content: "\e887";
}

.d-arrows_up:before {
  content: "\e885";
}

.d-check:before {
  content: "\e645";
}

.d-close:before {
  content: "\e646";
}

.d-add:before {
  content: "\e767";
}

.d-move:before {
  content: "\e768";
}

.d-round:before {
  content: "\e6d7";
}

.d-roundaddfill:before {
  content: "\e6d8";
}

.d-roundadd:before {
  content: "\e6d9";
}

.d-roundremovefill:before {
  content: "\e60e";
}

.d-roundremove:before {
  content: "\e6c1";
}

.d-roundcheckfill:before {
  content: "\e656";
}

.d-roundclosefill:before {
  content: "\e658";
}

.d-roundcheck:before {
  content: "\e657";
}

.d-roundclose:before {
  content: "\e659";
}

.d-settings:before {
  content: "\e673";
}

.d-settingsfill:before {
  content: "\e851";
}

.d-zhifubao:before {
  content: "\e63b";
}

.d-qq:before {
  content: "\e66f";
}

.d-weixin:before {
  content: "\e660";
}

.d-taobao:before {
  content: "\e610";
}

.d-appreciate:before {
  content: "\e644";
}

.d-appreciatefill:before {
  content: "\e6e3";
}

.d-writefill:before {
  content: "\e760";
}

.d-write:before {
  content: "\e761";
}

.d-wang:before {
  content: "\e678";
}

.d-wangfill:before {
  content: "\e69a";
}

.d-countdownfill:before {
  content: "\e707";
}

.d-countdown:before {
  content: "\e708";
}

.d-creativefill:before {
  content: "\e718";
}

.d-creative:before {
  content: "\e719";
}

.d-commandfill:before {
  content: "\e73e";
}

.d-command:before {
  content: "\e73f";
}

.d-crownfill:before {
  content: "\e776";
}

.d-crown:before {
  content: "\e777";
}

.d-deleteback:before {
  content: "\e70c";
}

.d-deletebackfill:before {
  content: "\ef3e";
}

.d-form:before {
  content: "\e699";
}

.d-formfill:before {
  content: "\e7ab";
}

.d-mobile:before {
  content: "\e704";
}

.d-mobilefill:before {
  content: "\e705";
}

.d-redpacket:before {
  content: "\e6e0";
}

.d-redpacketfill:before {
  content: "\e7d3";
}

.d-newshotfill:before {
  content: "\e7c4";
}

.d-newshot:before {
  content: "\e7c5";
}

.d-moneybagfill:before {
  content: "\e7ce";
}

.d-moneybag:before {
  content: "\e7d1";
}

.d-ticket:before {
  content: "\e677";
}

.d-ticketfill:before {
  content: "\e82b";
}

.d-goods:before {
  content: "\e6cd";
}

.d-goodsfill:before {
  content: "\e778";
}

.d-selection:before {
  content: "\e6ce";
}

.d-selectionfill:before {
  content: "\e6e1";
}

.d-service:before {
  content: "\e6ff";
}

.d-servicefill:before {
  content: "\e737";
}

.d-pic:before {
  content: "\e69b";
}

.d-picfill:before {
  content: "\e72c";
}

.d-camerafill:before {
  content: "\e664";
}

.d-camera:before {
  content: "\e665";
}

.d-camerarotate:before {
  content: "\e6f9";
}

.d-cameraadd:before {
  content: "\e724";
}

.d-cameraaddfill:before {
  content: "\e727";
}

.d-deletefill:before {
  content: "\e6a6";
}

.d-delete:before {
  content: "\e6b4";
}

.d-attentionfill:before {
  content: "\e73c";
}

.d-attention:before {
  content: "\e73d";
}

.d-attentionforbid:before {
  content: "\e7b2";
}

.d-attentionforbidfill:before {
  content: "\e7b3";
}

.d-tagfill:before {
  content: "\e751";
}

.d-tag:before {
  content: "\e752";
}

.d-likefill:before {
  content: "\e668";
}

.d-like:before {
  content: "\e669";
}

.d-skinfill:before {
  content: "\e7cc";
}

.d-skin:before {
  content: "\e7cd";
}

.d-commentfill:before {
  content: "\e666";
}

.d-comment:before {
  content: "\e667";
}

.d-mail:before {
  content: "\e647";
}

.d-mailfill:before {
  content: "\e884";
}

.d-hotfill:before {
  content: "\e757";
}

.d-hot:before {
  content: "\e758";
}

.d-questionfill:before {
  content: "\e690";
}

.d-question:before {
  content: "\e691";
}

.d-info:before {
  content: "\e6e5";
}

.d-infofill:before {
  content: "\e6e4";
}

.d-favorfill:before {
  content: "\e64b";
}

.d-favor:before {
  content: "\e64c";
}

.d-warnfill:before {
  content: "\e662";
}

.d-warn:before {
  content: "\e663";
}

.d-newsfill:before {
  content: "\e7c3";
}

.d-news:before {
  content: "\e7c6";
}

.d-timefill:before {
  content: "\e65e";
}

.d-time:before {
  content: "\e65f";
}

.d-discover:before {
  content: "\e67e";
}

.d-discoverfill:before {
  content: "\e6ba";
}

.d-locationfill:before {
  content: "\e650";
}

.d-location:before {
  content: "\e651";
}

.d-videofill:before {
  content: "\e7c7";
}

.d-video:before {
  content: "\e7c8";
}

.d-medalfill:before {
  content: "\e7c1";
}

.d-medal:before {
  content: "\e7c2";
}

.d-askfill:before {
  content: "\e7c9";
}

.d-ask:before {
  content: "\e7ca";
}

